Data pipeline example showing data extraction from Google BigTable using SQL: 

This demo shows
* Accessing a data base in the cloud
* Exploring - tables present, schema, head/ first 5 rows
* Cost limit for the query - Kaggle users can scan 5TB every 30 days for free, from Google BigTable. Hence a 10GB limit is configured for the query.
* Deriving meaningful information - in this example, we explore the stackoverflow dataset to find how long it has taken each user to either answer a question or post one, from the time they join. This information is extracted from 3 tables. A Common Table Expression is used to make the query easier to understand.

In [19]:
from learntools.core import binder
binder.bind(globals())
from learntools.sql_advanced.ex1 import *
print("Setup Complete")

Setup Complete

In [20]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

In [21]:
# List all the tables in the dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset
for table in tables:  
    print(table.table_id)

badges
comments
post_history
post_links
posts_answers
posts_moderator_nomination
posts_orphaned_tag_wiki
posts_privilege_wiki
posts_questions
posts_tag_wiki
posts_tag_wiki_excerpt
posts_wiki_placeholder
stackoverflow_posts
tags
users
votes

In [22]:
# Construct a reference to the "users" table
table_ref = dataset_ref.table("users")

# API request - fetch the table
table = client.get_table(table_ref)

In [23]:
print(table.schema)

[SchemaField('id', 'INTEGER', 'NULLABLE', None, ()), SchemaField('display_name', 'STRING', 'NULLABLE', None, ()), SchemaField('about_me', 'STRING', 'NULLABLE', None, ()), SchemaField('age', 'STRING', 'NULLABLE', None, ()), SchemaField('creation_date', 'TIMESTAMP', 'NULLABLE', None, ()), SchemaField('last_access_date', 'TIMESTAMP', 'NULLABLE', None, ()), SchemaField('location', 'STRING', 'NULLABLE', None, ()), SchemaField('reputation', 'INTEGER', 'NULLABLE', None, ()), SchemaField('up_votes', 'INTEGER', 'NULLABLE', None, ()), SchemaField('down_votes', 'INTEGER', 'NULLABLE', None, ()), SchemaField('views', 'INTEGER', 'NULLABLE', None, ()), SchemaField('profile_image_url', 'STRING', 'NULLABLE', None, ()), SchemaField('website_url', 'STRING', 'NULLABLE', None, ())]

In [24]:
# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,212,Mike Polen,"<p>Christian, dynamic systems engineer, develo...",None,2008-08-03 14:59:56.407000+00:00,2019-08-23 16:10:12.707000+00:00,"Richmond, VA",3421,465,4,1181,None,http://about.me/mwpolen
1,278,Lea Cohen,"<p>Web developer, both server-side and client-...",None,2008-08-04 11:28:54.023000+00:00,2019-09-01 04:48:44.660000+00:00,Israel,4261,3470,24,997,None,http://leketshibolim.ort.org.il
2,380,Vaibhav,None,None,2008-08-05 10:39:18.677000+00:00,2019-07-29 11:59:18.740000+00:00,"Gurgaon, India",8825,430,46,1218,None,http://blog.gadodia.net
3,527,ggasp,<p>I'll upvote every answer to my questions!</...,None,2008-08-06 14:44:09.103000+00:00,2019-08-21 08:38:01.943000+00:00,Chile,917,135,4,168,None,http://gasparolo.com/gabriel
4,889,Eldila,"<p>I'm a programmer, scientist, and mathematic...",None,2008-08-10 08:04:03.333000+00:00,2017-02-12 01:45:10.563000+00:00,"Vancouver, Canada",7208,130,5,461,None,http://jkwiens.com

In [25]:
# Construct a reference to the "posts_questions" table
table_ref = dataset_ref.table("posts_questions")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,57422054,Acrobat reader cannot extract the embedded fon...,<p>I am using Jasper Report 6.9.0 version with...,None,2,0,None,2019-08-09 00:09:38.900000+00:00,None,2019-08-22 16:37:11.660000+00:00,2019-08-09 18:25:09.417000+00:00,None,876298.0,None,2698795,None,1,2,jasper-reports|acrobat|export-to-pdf,256
1,57488877,React Native FAILURE: Build failed with an exc...,"<p>i got error when i start ""react-native run-...",None,1,0,None,2019-08-14 05:59:09.583000+00:00,None,2019-08-14 14:04:31.780000+00:00,NaT,None,NaN,None,11750921,None,1,0,reactjs|react-native,257
2,57416424,subtypes of parenttype together in a list,<p>hey i have a class like vehicle. if i creat...,None,0,0,None,2019-08-08 15:49:15.663000+00:00,None,2019-08-08 15:49:15.663000+00:00,NaT,None,NaN,None,10944434,None,1,0,inheritance,2
3,57515498,Is there an archive of Navigator objects for v...,<p>Does there exist an archive somewhere that ...,None,0,0,None,2019-08-15 19:59:45.667000+00:00,None,2019-08-15 19:59:45.667000+00:00,NaT,None,NaN,None,2299958,None,1,0,navigator,2
4,57531398,How to delete repeating vector images from all...,<p>I have several pdf files with hundreds of p...,None,0,0,None,2019-08-16 21:35:18.053000+00:00,None,2019-08-16 21:35:18.053000+00:00,NaT,None,NaN,None,11938048,None,1,-1,pdf,2

In [26]:
# Construct a reference to the "posts_answers" table
table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,50075045,None,<p>To return a json try to replace</p>\n\n<pre...,None,None,0,None,2018-04-28 09:36:26.320000+00:00,None,2018-04-28 09:36:26.320000+00:00,NaT,None,NaN,None,5855039,50058348,2,0,None,None
1,50075058,None,<p>Very good practice is to import feature mod...,None,None,0,None,2018-04-28 09:37:48.770000+00:00,None,2018-04-28 09:37:48.770000+00:00,NaT,None,NaN,None,6370870,42300636,2,0,None,None
2,50075091,None,<p>You can adjust your current query to get th...,None,None,0,None,2018-04-28 09:41:45.040000+00:00,None,2018-04-28 09:41:45.040000+00:00,NaT,None,NaN,None,8024897,50031556,2,0,None,None
3,50075112,None,<p>Provided stacktrace related with the incomp...,None,None,0,None,2018-04-28 09:44:39.143000+00:00,None,2018-04-28 09:44:39.143000+00:00,NaT,None,NaN,None,2674303,50004504,2,0,None,None
4,50075119,None,<p>So it seems it just took quite a long time ...,None,None,0,None,2018-04-28 09:45:09.930000+00:00,None,2018-04-28 15:19:39.537000+00:00,2018-04-28 15:19:39.537000+00:00,None,1843511.0,None,1843511,50061108,2,0,None,None

In [28]:
query = """
                WITH user_actions AS
                (
                SELECT u.id AS user_id, u.display_name AS user_name, u.creation_date AS user_joining_date,
                    MIN(q.creation_date) AS q_creation_date,
                    MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.users` AS u
                    LEFT JOIN `bigquery-public-data.stackoverflow.posts_questions` AS q
                        ON u.id = q.owner_user_id
                    FULL JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                        ON q.owner_user_id = a.owner_user_id  
                WHERE u.creation_date >= '2019-01-01' AND u.creation_date < '2019-06-01' 
                GROUP BY user_id, user_name, user_joining_date
                )
                SELECT user_id, user_name,
                AVG(TIMESTAMP_DIFF(a_creation_date, user_joining_date, DAY)) AS time_to_answer_Days, 
                AVG(TIMESTAMP_DIFF(q_creation_date, user_joining_date, DAY)) AS time_to_question_Days
                FROM user_actions
                GROUP BY user_id, user_name
                """


# Setting up the query (cancel the query if it exceeds the limit set to 10 GB)
config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query, job_config=config)

# API request - run the query, and convert the results to a pandas DataFrame
count = query_job.to_dataframe()
count.dropna().head()

,user_id,user_name,time_to_answer_Days,time_to_question_Days
2,11334968,Endyrmion,0.0,0.0
7,10912839,bcymet,31.0,0.0
12,10894916,m0r7y,199.0,0.0
211,11497592,austin,1.0,0.0
223,10861398,Laode Muhammad Al Fatih,46.0,0.0

This post is inspired by Rachael Tatman's posts on Kaggle